@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title:</h2>

<b>Roham Pardakhtim:</b>
<p></p>
<a href="https://www.linkedin.com/in/rohampardakhtim/">Linked in</a>
<p>Phone: (206) 307-9208</p>
<p>Email: roham.p@gmail.com</p>
