<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>

<nav class="navbar navbar-inverse">
    <p class="navbar-text">Birthday Card Generator</p>
</nav>

<html>

<body>

    <div style=" font-size: 10pt">
        @RenderBody()
    </div>
    
    <hr />
    <footer class="footer">
        <p style="margin-left:2%" class="text-muted">© 2018 - University of Washington CSHP: 230 ASP.NET Homework by Roham Pardakhtim</p>
    </footer>

</body>
</html>